<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
      <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiska_händelser.html">Framtiden för internet</a>
        </li>
        <li>
          <a href="/view/Sida2.html">Text-Tv-Internet</a>
        </li>
        <li>
            <a href="/view/Sida3.html">Forskare "surfar" på papper</a>
        </li>
        <li>
            <a href="/view/Sida4.html">Telia spår rätt om e-handel</a>
        </li>
        <li>
            <a href="/view/Sida5.html">Ansiktsburk</a>
          </li>
          <li>
            <a href="/view/Sida6.html">Hemsidors Utveckling</a>
          </li>
          <li>
          <a href="/view/Sida7.html">Webbpublicerings-system</a>
        </li>
        <li>
            <a href="/View/Sida8.html">Tekniken bakom internet</a>
        </li>
    </ul>
    <div class="container2">
        <p><h1 class="header"> Filmklipp: Så tänker man sig framtiden för internet</h1></p>
        <div>
            <h4 class="middle"> I ett filmklipp från slutet av sextiotalet spekuleras det om framtidens hus. I en sekvens får man se många olika terminaler där mor och far beställer kläder, tittar över bankärenden, och korresponderar med andra. I videon förutspås även e-post, som kan skickas till vem som helst över hela jorden på ett kick. Berättarrösten kallar funktionen för ”home post office”. Samma år som filmen produceras skapas faktiskt det som kommer att bli det ”riktiga internet”: Arpanet.</h4>
        </div>
        <div>
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/-YlouJEcipU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            
        </div>
        
    </div>

  </body>
  <script src="js/script.js"></script>
</html>
