<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
      <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiska_händelser.html">Framtiden för internet</a>
        </li>
        <li>
          <a href="/view/Sida2.html">Text-Tv-Internet</a>
        </li>
        <li>
            <a href="/view/Sida3.html">Forskare "surfar" på papper</a>
        </li>
        <li>
            <a href="/view/Sida4.html">Telia spår rätt om e-handel</a>
        </li>
        <li>
          <a href="/view/Sida5.html">Ansiktsburk</a>
        </li>
        <li>
          <a href="/view/Sida6.html">Hemsidors Utveckling</a>
        </li>
        <li>
        <a href="/view/Sida7.html">Webbpublicerings-system</a>
      </li>
      <li>
          <a href="/View/Sida8.html">Tekniken bakom internet</a>
      </li>
    </ul>
    <div class="container2">
        <p><h1 class="header">Hemsidors Utveckling</h1></p>
        <div class="middle">
            <img src="/Images/541197-steam-logo-640x360.jpg">
            <h3 class="middle">Steam är ett väldigt populär spel program där många personer som köper spel därifrån, ladda ner och spela spel som de har köpt. Om man kollar på sidan själv idag så ser det ut mer som en handel sida där de säljer olika spel från andra spel företag. Om du kollar nedan här så kan du se hur websidan ser ut nu Idag (Bild Tagen 2019-12-02)</h3>
            <img width="" height="500" src="/Images/Steam2019-12-02.gif">
            <h3 class="middle">Sidan är har mer animation i sig nu än förut innan Steam var populär så sålde de bara sina egna produkter och merch. Typ som CS:GO, Team Fortress 2, Half life 2 produkter och så vidare.<br />
            <br />
            Steam började någonstans runt 2007, runt den tiden så sålde de även tröjor och böcker om spel som de har skapat. Bilden som kommer visas här saknas bilder för sidan<br />
            <br />
            Steam 2007 Layout
        </h3>
            <img width="" height="500" src="/Images/Steam2007.jpg">
            <h3 class="middle">Nu idag så kan du gör allt olika saker på steam, typ som att köpa produkter som Valve har skapat. De har fortfarande sin merch store öppet och andra sorters produket kvar. Några av gamla produkter finns inte kvar på websidan. Men anledningen varför de har ändrat useendet från 2007 versionen av websidan till det nya versionen 2019 så är det på grund av att göra mer utrymme när man är i websidan. Det blir mer rent och öppet och man nu enkelt hitta rätt kategorier av spel som man vill köpa eller spela. Just nu idag så kan jag tänka mig att i framtiden så kan det hända att de kommer göra kanske en tab för streamers för websidan så vidare, det som jag kan tänka mig att de kommer skapa nya produkter för spel, typ som kontroller och allt annat. Det som kommer hända mest är att steamvr kommer bli mer uppdaterad i framtiden.</h3>
        </div>
        
    
    </div>

  </body>
  <script src="js/script.js"></script>
</html>
