<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
      <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiska_händelser.html">Framtiden för internet</a>
        </li>
        <li>
          <a href="/view/Sida2.html">Text-Tv-Internet</a>
        </li>
        <li>
            <a href="/view/Sida3.html">Forskare "surfar" på papper</a>
        </li>
        <li>
            <a href="/view/Sida4.html">Telia spår rätt om e-handel</a>
        </li>
        <li>
          <a href="/view/Sida5.html">Ansiktsburk</a>
        </li>
        <li>
          <a href="/view/Sida6.html">Hemsidors Utveckling</a>
        </li>
        <a href="/view/Sida7.html">Webbpublicerings-system</a>
    </ul>
    <div class="container2">
        <p><h1 class="header">Filmklipp: Telia spår rätt om e-handel</h1></p>
        <div>
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/JbQoEdsfQMw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="middle"> Kanske kommer datorer att användas till annat än att skriva textdokument och spela spel? Telias forskningsavdelning har en idé om hur det kan bli – och får kusligt rätt.<br />
               <br />
                Projektet heter “Elektroniskt hemköp” och pågår åren 1992-1993. Syftet är att undersöka hur olika tjänster mellan datorer skulle kunna se ut. Först demonstrerar projektledaren Teresia Widigs-Ahlin och de andra på Telia Research AB mjukvaran på plats, och i samband med det gjordes också intervjuer<br />
                <br />
                – Vi arbetade i största möjliga mån enligt forskningsmetodik. Programmet var bara ett verktyg och vi tog fram en metod för framtidsforskning, baserad på fokusgrupper, delphigrupper, intervjuer med flera kvalitativa metoder i kombination med då modern teknik, berättar Teresia Widigs-Ahlin i efterhand.<br />
                <br />
                När efterfrågan blir för stor, runt 1994, sätter de ihop en demonstrationsfilm som fortfarande finns kvar och som du kan se här ovanför (själva datorprogrammet har dessvärre försvunnit).<br />
                <br />
                Framtidsvisionen är kusligt precis, när man sitter med facit i hand. Här förutspår Telia hemkörda matkassar, detaljerad platsbokning på teater och köp-och-säljsajter som Blocket och Tradera. Allt via en “terminal” hemma i villans vardagsrum.<br />
                <br />
                I slutet av filmen påpekar Teresia Widigs-Ahlin, som agerar huvudrollsinnehavare:
                <br />
                – Den här filmen visar hur det skulle kunna gå till att köpa och sälja via telekommunikation i framtiden. Detta är inget man kan göra idag. Men framtiden kommer snabbare än man tror.<br />
                <br />
                Minst sagt.

        </div>
        
    
    </div>

  </body>
  <script src="js/script.js"></script>
</html>
