<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
      <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiska_händelser.html">Framtiden för internet</a>
        </li>
        <li>
          <a href="/view/Sida2.html">Text-Tv-Internet</a>
        </li>
        <li>
            <a href="/view/Sida3.html">Forskare "surfar" på papper</a>
        </li>
        <li>
            <a href="/view/Sida4.html">Telia spår rätt om e-handel</a>
        </li>
        <li>
          <a href="/view/Sida5.html">Ansiktsburk</a>
        </li>
        <li>
          <a href="/view/Sida6.html">Hemsidors Utveckling</a>
        </li>
        <a href="/view/Sida7.html">Webbpublicerings-system</a>
    </ul>
    <div class="container2">
        <p><h3 class="header">Ansiktsburk-filmen blir Sveriges första virala succé: ”Inte meningen”</h3></p>
        <div>
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/an_8U-GDgwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4 class="middle">Patrick Nyberg har ett kassettband med låtar på arabiska av artisten Azar Habib, som hans pappa köpt i Beirut många år tidigare. Han och vännen Johan Gröndahl tycker att vissa av texterna låter lite som att de skulle kunna vara svenska ord, och skriver ihop versioner med svensk text. En av dem får titeln ”Ansiktsburk”.<br />
                    <br />
                    – Jag spelade upp melodisnuttarna om och om igen tills fraser som ”Hammarbynisse är härlig” och ”Välte hatten i Berts cola-au-lait” tedde sig fullständigt självklara och logiska i min trötta skalle. Det var så kul att jag skickade låtarna som MP3:or med tillhörande textfiler till mina bröder, berättar Johan Gröndahl i en intervju med Nyheter24.<br />
                    <br />
                    Grunden för Sveriges första virala succé är skapad. Men ännu är inte projektet i hamn. Enter – Daniel Blå, webbdesignern som såg till att det hände genom en flashanimation. Exklusivt för vår julkalender berättar han nu den okända historien om Ansiktsburk. Läs hela intervjun här.<br />
                    <br />
                    En fredag år 2000 sitter Daniel Blå på kontoret och har tråkigt. Han och kollegorna väntar in kvällens after work. De är specialiserade på flashanimationer. Ett av de första sätten att skapa rörligt innehåll som samtidigt är snabbladdat. När Daniel Blå får ”Ansiktsburk”-låten i mejlboxen agerar han – genom att göra en video.<br />
                    <br />
                    Låten och texten sprids tillsammans via mejl, och Daniel Blå på web-byrån Kramgo testar att sätta ihop dem i en flash-animerad Ansiktsburk-film som får många miljoner visningar redan det första året. Även låten och videon ”Hatten är din” blir en stor succé, liksom ”Fiskpinnar”. De sprids utan att duon Nyberg/Gröndahl och Kramgo någonsin möts.<br />
                    <br />
                    – Det var egentligen inte meningen. Jag och en programmerare var omotiverade på jobbet, satt och surfade utan att göra det vi skulle. Ingen chef var på plats. Det tog mig 20 minuter att klippa ihop det här, säger Daniel Blå i Internetmuseums intervju med honom.<br />
                    <br />
                    Några pengar ska webbyrån Kramgo inte tjänat på sin hit, bedyrar han.<br />
        </div>
        
    
    </div>

  </body>
  <script src="js/script.js"></script>
</html>
