<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
      <ul class="nav_bar--horizontal">
        <li>
          <a href="/index.html">Startsida</a>
        </li>
        <li>
          <a href="/view/historiska_händelser.html">Framtiden för internet</a>
        </li>
        <li>
          <a href="/view/Sida2.html">Text-Tv-Internet</a>
        </li>
        <li>
            <a href="/view/Sida3.html">Forskare "surfar" på papper</a>
        </li>
        <li>
            <a href="/view/Sida4.html">Telia spår rätt om e-handel</a>
        </li>
        <li>
          <a href="/view/Sida5.html">Ansiktsburk</a>
        </li>
        <li>
          <a href="/view/Sida6.html">Hemsidors Utveckling</a>
        </li>
          <a href="/view/Sida7.html">Webbpublicerings-system</a>
    </ul>
    <div class="container2">
        <p><h3 class="header">Webbpublicerings-systemer</h3></p>
        <img width="50%" height="125" src="/Images/1920px-Craftercms-logo.svg.png">
        <h3>Stable release<br />
          <br />
            3.1.3[1] / 2019-09-10[±] <br />
            <br />
            Written in	Java, GraphQL, and JavaScript <br />
            <br />
            Operating system	Cross-platform <br />
            <br />
            Type	Web Content Management <br />
            <br />
            License	GPL, Commercial <br />
            <br />
            Website	www.craftercms.org</h3>
            <br />
            <p>Crafter CMS is a hybrid Headless CMS that combines the authoring sophistication of traditional WCM with the development advantages of a Headless CMS only architecture. There are three core components to Crafter CMS:<br />
              <br />
                <h3>Delivery Tier, Crafter Engine</h3> <br />
                The Crafter Engine is the presentation framework, using either Groovy and FreeMarker or NodeJS to generate pages and other rendered output. Alternatively, GraphQL or REST API can be defined to serve structured content as headless API first content. Crafter Engine is integrated with Elasticsearch to support sophisticated dynamic content query and search capabilities. <br />
                <br />
                <h3>Authoring Tier, Crafter Studio</h3> <br /> 
                The user interface through which the content management and administrative functionalities can be used. <br />
                <br />
                <h3>Content Repository, Crafter Repository</h3> <br />
                <br />
                All content, metadata and configuration is stored in Git. <br />
                <br />
                <h3>Deployment</h3> <br />
                <br />
                Crafter CMS Deployments are Serverless and are deployed via Docker containers and managed by Kubernetes orchestration.</p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <img width="25%" height="250" src="/Images/Epi-logo-red-square.jpeg">
                <br />
                <h3>Type Private <br />
                  <br />
                    Industry	Software <br />
                    <br />
                    Founded	Sweden (1994) <br />
                    <br />
                    Headquarters	Nashua, NH USA and Stockholm, Sweden<br />
                    <br />
                    Key people: Adam Berger, Executive Chairman; <br />
                    Alex Atzberger, Chief Executive Officer; <br />
                    <br />
                    Jessica Fardin, Chief Marketing Officer <br />
                    <br />
                    Products	Episerver Digital Experience Cloud <br />
                    Parent	Insight Venture Partners <br /> 
                    Website	https://www.episerver.com</h3>
                    <br />
                    <p>Episerver was founded in 1994 in Stockholm, Sweden, by Mikael Runhem. Then known as Elektropost Stockholm AB, the company focused on internet-based electronic mail. Elektropost Stockholm AB expanded to provide technology for building websites and introduced the first version of the EPiServer CMS platform in 1997. <br />
                        <br />
                        In 2002, the first version of EPiServer CMS that was based on Microsoft’s .NET Framework, EPiServer CMS 4.0, was launched. In 2006, Mikael Runhem changed the company’s name to EPiServer AB. In 2007, the second .NET-based version of EPiServer CMS was launched, version 5.[citation needed]<br />
                        <br />
                        In 2010, the company was owned by a group of investors, including Amadeus Capital, Martin Bjäringer, Monterro Holdings, Northzone Ventures, Mikael Runhem and family and employees. In November 2010, this group sold the company to IK Investment Partners.[self-published source?]<br />
                        <br />
                        In December 2014, IK Investment Partners sold Episerver to Accel-KKR, a technology-focused private equity investment firm. Accel-KKR had also recently purchased Ektron, a Nashua, New Hampshire-based CMS company. In January 2015, Episerver and Ektron merged. Two former executives from KANA Software, CEO Mark Duffell and CMO James Norwood, were appointed President and CEO and Executive Vice President Strategy and CMO of Episerver, respectively. Martin Henricson, CEO of the former Episerver business assumed the role of Executive Chairman for the merged entity.[citation needed]
                        <br />
                        The company combined its software into the Episerver Digital Experience Cloud, and in June 2015, Episerver launched the first major release of its platform following the Ektron merger. In November 2015, the company rebranded itself, changing EPiServer to Episerver, and including the shortened name “Epi”.<br />
                        <br />
                        In September 2018, Episerver was acquired by Insight Venture Partners for $1.16 billion. 
                        In August 2016, Episerver acquired Peerius, a London UK-based commerce personalization company. The brand now is fully integrated as EpiPersonalization into the Episerver Platform. Former Peerius CEO Roger Brown left the company. <br />
                        <br />
                        In September 2018, Episerver was acquired by Insight Venture Partners for $1.16 billion. 
                        <br />
                        In December 2019, Alexander Atzberger, former President of Customer Experience at SAP, joined Episerver as the company's new CEO. <br /> </p>

           
    
    </div>

  </body>
  <script src="js/script.js"></script>
</html>
